{% extends 'base.html' %}

{%block style%}

{{block.super}}
<style>
    .pagination {
    display: flex;
    justify-content: center;
    padding: 10px;
}


.step-links a {
    padding: 5px 10px;
    margin: 0 5px;
    text-decoration: none;
    background-color: #5a5f63;
    color: white;
    border-radius: 3px;
    transition: background-color 0.3s ease;
}

.step-links a:hover {
    background-color: #b9cf13;
    color: white;
}


.step-links .current {
    padding: 5px 10px;
    margin: 0 5px;
    background-color: #b9cf13;
    color: white;
    border-radius: 3px;
}


</style>


{% endblock %}


{% block content %}
<br>
<div class="container text-center" >
    <div class="row justify-content-md-center">
            <div class="col-9">

                <ul class="list-group">
                    {% for prob in page_obj %}
                    <li class="list-group-item d-flex justify-content-between align-items-center"><span> {{prob.title}} </span>
                        <span> <a class="btn btn-primary" href="/problems/{{prob.id}}"> Solve </a></span>
                    </li>
                    {% endfor %}

                </ul>


                <div class="pagination">
                    <span class="step-links">
                        {% if page_obj.has_previous %}
                            <a href="?page=1"> &laquo; first </a>
                            <a href="?page={{page_obj.previous_page_number}}"> previous </a>
                        {% endif %}

                        <span class="current text-align-center">
                            Page {{page_obj.number}} of {{page_obj.paginator.num_pages}}.
                        </span>

                        {% if page_obj.has_next %}
                            <a href="?page={{page_obj.next_page_number}}"> next </a>
                            <a href="?page={{page_obj.paginator.num_pages}}"> last &raquo; </a>
                        {% endif %}

                    </span>

                </div>


<!--        <ul class="list-group">-->
<!--            {% for prob in problems %}-->
<!--              <li class="list-group-item d-flex justify-content-between align-items-center"><span> {{prob.title}}          </span>-->
<!--                <span> <a class="btn btn-primary" href="/problems/{{prob.id}}"> Solve </a></span>-->
<!--              </li>-->

<!--            {% endfor %}-->
<!--  </ul>-->

    </div>
    </div>

</div>


{% endblock %}